@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
 /* После обнуляющего стиля*/

html {
  scroll-behavior: smooth;
}

p::selection {
   color: #fff;
   background-color: #999999; 
}

h1::selection {
   color: #fff;
   background-color: #999999; 
}

h2::selection {
   color: #fff;
   background-color: #999999; 
}

h3::selection {
   color: #fff;
   background-color: #999999; 
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #9c9c9c;
    border-radius: 10px;
}

body{
    font-family: "Golos Text", sans-serif;
}
.content{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
}
.home{
    background-image: url("img/home2.jpg");
    background-position: center;
    background-size: cover;
    height: 436px;
    color: #FFFFFF;
}

.header{
    background-color: rgb(0, 0, 0, 0.2);
    height: 100px;
}

.header-block{
    display: flex;
    justify-content: space-between;
    padding: 11px 0;
}
.header-left{
    width: 70%;
    display: flex;
    gap: 56px;
    width: max-content;
}

.header-right{
    display: flex;
    align-items:center;
    gap: 25px;
}

.header-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    color: #FFFFFF;
    user-select: none;
}

.header-logo__logoText{
 font-weight: 700;
 min-width: 150px;
}

.header-nav{
    display: flex;
}
.header__list{
    display: flex;
    align-items: center;
    gap: 26px;
    width: max-content;
}

.header__link{
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
}

.header__anchorCatalog{
    display: flex;
    gap: 13px;
    color: #FFFFFF;
    background-color: rgb(255, 255, 255, 0.2);
    padding: 11px 16px;
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 12px;
    user-select: none;
    width: max-content;
}

.header__anchorCatalog span{
    font-weight: 700;
}

.header__bt{
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.2);
    padding: 11px;
    border: 1px solid rgb(255, 255, 255, 0.1);
    border-radius: 12px;
    height: 46px;
    width: 46px;
    user-select: none;
}

.header__bt--menu{
    display: none;
}

.home-info{
    min-height: 336px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.home-info h1{
    max-width: 645px;
    font-size: 40px;
    font-weight: 500;
}

.subtitle{
    font-size: 18px;
    font-weight: 500;
}

.header__bt:hover{
     background-color: rgb(255, 255, 255, 0.5);
}

.header__anchorCatalog:hover{
    background-color: rgb(255, 255, 255, 0.5);
}

.header__link:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}
.catalog{
    padding: 100px 0;
}

.catalog__links{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.catalog__links-item{
    height: 280px;
    position: relative;
    overflow: hidden;
    border-radius: 12px;
}

.catalog__links-info{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: rgb(0, 0, 0, 0.3);
}

.catalog__links-info h3{
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}

.catalog__links-info span{
    display: flex;
    align-items: center;
}
.catalog__links-item img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.catalog__links-item:hover{
    transition: 0.4s ease;
    transform: scale(1.05);
}

.aboutUs{
    padding: 100px 0;
    background-image: url("img/icons/tree2.svg");
    background-color: #F1F4F0;
    background-position: center;
    background-size: cover;
}
.aboutUs__block{
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

h2{
    color: black;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 30px;
}

.aboutUs__left p{
    color: black;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 27px;
    line-height: 1.3;
}
strong{
    font-weight: 500;
}
.aboutUs__left{
    background-color: rgb(255, 255, 255, 0.7);
    padding: 50px 150px 50px 50px;
    border-radius: 25px;
}

.aboutUs__right{
    min-width: 409px;
    border-radius: 25px;
}

.aboutUs__right img{
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.whyUs{
    position: relative;
    background-image: url(img/icons/RectangleWU.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto auto;
    padding: 150px 0;
}

.whyUs__ask{
    position: absolute;
    top: 46%;
    left: 0%;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    line-height: 1.3;
    user-select: none;
    width: 100%;
    text-transform: uppercase;
}

.whyUs__blok {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: calc(20px + (286 - 20) * ((100vw - 320px) / (1320 - 320)));
    row-gap: 90px;
}

.whyUs__item{
    background-color: #F1F1F1;
    border-radius: 15px;
    position: relative;
}

.whyUs__item-text{
    width: 90%;
    line-height: 1.3;
    padding: 25px;
}

.whyUs__item-text h3{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 35px;
}

.whyUs__item-text p{
    font-size: 18px;
    font-weight: 400;
}

.whyUs__item-numberMain{
    position: absolute;
    right: 38px;
    top: 28px;
    z-index: 1;
    width: 40px;
    height: 40px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
}

.whyUs__item-numberSub{
    position: absolute;
    right: 20px;
    top: 28px;
    width: 40px;
    height: 40px;
    background-color: #F6F6F6;
    border-radius: 50%;
}

footer{
    background-color: #A1A1A1;
    padding: 50px 0;
}

@media (max-width: 1024px) {

    .header-nav {
        display: none;
    }

    .header__bt--menu{
        display: block;
    }

    .catalog__links{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    .aboutUs__block{
        flex-direction:column;
    }

    .aboutUs__right img{
        width: 100%;
        height: 580px;
    }

    .whyUs__item-text h3 {
        font-size: 24px;
        margin-bottom: 15px;
    }
    
    .whyUs__item-text p{
        font-size: 16px;
    }

    .whyUs__item-numberMain{
        right: 28px;
    }

    .whyUs__item-numberSub {
        right: 16px;
    }
}

@media (max-width: 768px) {

    .home-info h1{
        font-size: 30px;
    }

    .header-logo__logoText {
        font-size: 16px;
    }

    .header-right {
    gap: 15px;
    }

    .catalog {
        padding: 50px 0px;
    }
    
    .catalog__links{
        grid-template-columns: repeat(2, 1fr);
    }

    .aboutUs{
        padding: 50px 0;
        background-image: url(img/icons/tree_mob.svg);
    }

    .aboutUs__block{
        background-color: rgb(255, 255, 255, 0.7);
        border-radius: 25px;
    }

    .aboutUs__left{
        padding: 40px 20px 15px 20px;
        background-color: initial;
    }

    .whyUs{
        padding: 50px 0;
        background-image:none;
    }

    .whyUs__ask{
        position: static;
        font-weight: 500;
        line-height: 1.3;
        text-align: start;
        text-transform: none;
        margin-bottom: 30px;
        font-size: 30px;
    }
   
    .whyUs__ask br{
        display:none
    }

    .whyUs__blok {
        grid-template-columns: repeat(1, 1fr);
        column-gap: calc(20px + (286 - 20) * ((100vw - 320px) / (1320 - 320)));
        row-gap: 20px;
    }

}

@media (max-width: 425px) {

    h2 {
    color: black;
    font-size: 30px;
    }

    .header{
        display: none;
        height: 70px;
    }

    .header-block {
        padding: 8px 0;
    }

    .header-logo__logoImg{
        width: 55px;
        height: 55px;
    }

    .header-logo__logoText{
        display: none;
    }

    .header-right {
        gap: 10px;
    }

    .home {
        height: 342px;
    }

    .home-info {
        gap: 17px;
        min-height: 272px;
    }

    .home-info h1 {
        font-size: 24px;
    }
    
    .subtitle {
        font-size: 16px;
    }

    .catalog__links{
        grid-template-columns: repeat(1, 1fr);
        gap: 15px;
    }

    .catalog__links-item {
        height: 200px;
    }

    .aboutUs{
        padding: 80px 0;
    } 

    .aboutUs .content{
        padding: 0px;
    }

    .aboutUs__left p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .aboutUs__right img{
        height: 475px;
    }

    .aboutUs__right{
        min-width: 0px;
        border-radius: 25px;
    }

    .whyUs__item-numberMain{
        right: 16px;
    }

    .whyUs__item-numberSub {
        display: none;
    }
}
